<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>育儿</title>
    <meta name="keywords" content="育儿" />
    <meta name="description" content="育儿" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <link href="${ctx}/res/css/main.css" rel="stylesheet"/>
    <link href="${ctx}/res/css/index.css" rel="stylesheet"/>

</head>
<body>

<section>
    <div class="foot_cen sumtle">
        <ul class="felei painfo">
            <li><span>地区</span><span>江苏&nbsp;&nbsp;苏州&nbsp;&nbsp;姑苏区</span></li>
            <li><span>具体地址</span><span>创意产业园B2区22栋303室</span></li>
            <li><span>宝宝性别</span><span>女</span></li>
            <li><span>宝宝姓名</span><span>王大喵</span></li>
            <li><span>出生年月</span><span>20150303</span></li>
            <li><span>电话</span><span>13186650560</span></li>
        </ul>
    </div>
    </div>
    <a href="${ctx}/wx/edit?openid=${consulter.openid}" class="meschange">修改</a>
</section>
</body>
</html>
